body{
    background-color: #8257e5;
  }
  .d1{
    border: 1px solid purple;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 250px;
    color:#8257e5;
  }
  .d2{
    border: 1px solid purple;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
   background-color: black
  
    
  }
  .d3{
    border: 1px solid purple;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: black;
  }
  .d3 h2{
    color:white
  }
  .anime{
  transition: 1s;
  color:red ;
  }